body {
	background-color: black;
}

.header {
	background-color: rgb(255, 83, 83);
	color: white;
}

.game {
	text-align: center;
	font-family: GothamMedium;
	font-size: 24px;
}

.question {
	
}

.question__item {
	width: 20%;
	margin: 0 auto;
}

.question__text {
	color: white;
	user-select: none;
}

.answers {
	
}

.answer__item {
	background-color: white;
	color: black;
	width: 20%;
	border-radius: 10px;
	margin: 10px auto;
	padding: 5px 0 5px 0;
}

.answer__item--correct {
	background-color: rgb(3, 125, 71);
	color: white;
}

.answer__item--incorrect {
	background-color: rgb(129, 31, 37);
	color: white;
}

.answer__text {
	user-select: none;
}